body {
  background-color: #ffffff;
  color: #666666 font-family: Verdana, Arial, Sans-serif;
  background-image: url(trilliumgradient.png);
}

header {
  background-color: #000033;
  color: #ffffff;
  font-family: Georgia, serif;
}

h1 {
  line-height: 200%;
}

nav {
  font-weight: bold;
  background-color: #90c7e3;
}

h2 {
  color: #3399cc;
  font-family: Georgia, serif;
}

dt {
  color: #0000033;
  font-weight: bold;
}

span {
  color: #000033;
  font-size: 1.2em;
}

footer {
  font-size: .70em;
  font-style: italic;
  text-align: center;
}

#container {
  text-align: center;
  width: 80%;
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}